.promoteStudent {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: absolute;
  font-size: 20px;
}

.last_promote{
  display: flex;
  margin: 10px;
  
}

.space_margin{
  margin-left: 10px;
}

.detain_promote{
  display: flex;
}

.grid_promote{
  display : grid;
  grid-template-columns: 1fr 2fr 2fr;
  text-align: center;
  width: 100%;
  padding : 5px;
  justify-content: center;
}