.courseSelectionMain {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: absolute;
}
.courseSelection {
  display: flex;
  flex-direction: column;
}
.courseSelection > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsOfStudent {
  /* display: flex; */
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 2rem;
}
.detailsOfStudent > p {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 40%;
}

.courseDetails > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backSubjects > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backSubjects > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_container{
  display : grid;
  grid-template-columns: 0.6fr 0.8fr 3fr 1fr 0.7fr 1fr 1fr;
  text-align: left;
  width: 100%;
  padding : 5px;
}

.course_selection_below{
  padding: 5px;
  display : flex;
}

.mr_CS{
  margin-right: 8px;
}

@media screen and (max-width : 768px) {


  .course_Selection_full{
    width: 100%;
  }

  .courseSelection{
    width: 100vw;
    display : flex;
    flex-direction: column;
  }
  .detailsOfStudent{
    flex-direction: row;
    display : flex;
  }
  .courseDetails{
    width : 100%;
  }

  .grid_container{
    display : grid;
    grid-template-columns: 0.6fr 0.8fr 3fr 1fr 0.7fr 1fr 1fr;
    text-align: left;
    width: 100%;
    padding : 5px;
  }
}